@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  display: flex;
  min-height: 100vh;
}

.navigation {
  background-color: rgb(240, 240, 240);
  position: relative;
  min-width: 52px;
  max-width: 200px;
}

.task {
  flex-grow: 1;
  flex-basis: 80%;
}
